.portfolio-card {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  
  &:hover {
    transform: translateY(-2px);
  }

  ::ng-deep .mat-mdc-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
