<section class="bg-[#C9F3DD]  relative overflow-hidden" style="height: calc(100vh - var(--header-height, 64px)); background-image: url('/assets/images/hero-background.svg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="max-w-7xl mx-auto w-full h-full px-3 lg:px-8 flex flex-col lg:flex-row relative">
        <!-- Left Content -->
    <div class="w-full lg:w-1/2 h-full flex flex-col justify-center sm:pt-16 lg:pt-0 relative z-10 text-center lg:text-left">
            <!-- Title -->
            <h1 class="text-5xl lg:text-[60px]  font-bold leading-tight mb-6 poppins">
                Find <span class="text-[#6B0FAE]">Her.</span> <br class="block lg:hidden"> Hire <span class="text-black">Her.</span>
                <div class="mt-1">
                    <img src="/assets/svg/VOUCHHER.svg" alt="VouchHer" class="h-10 lg:h-[51px] w-auto mx-auto lg:mx-0">
                </div>
            </h1>

            <!-- Subtitle -->
            <p class="text-lg lg:text-xl text-gray-700 mb-8 lg:mb-10  lg:max-w-none mx-auto lg:mx-0">
                A trusted platform connecting women in Business nationwide.
            </p>

            <!-- Search Container -->
            <div id="hero-search-anchor" class="mb-8 w-full mx-auto lg:mx-0 lg:max-w-xl">
                <app-search 
                    [width]="'100%'"
                    [backgroundColor]="'white'"
                    [placeholder]="'Search business or service'"
                    [boxShadow]="'0 2px 6px 0 #20212451'"
                    (searchEvent)="onSearch()"
                    [(searchQuery)]="heroSearchQuery"
                />
            </div>

            <!-- Action Buttons -->
            <div class="flex flex-col lg:flex-row items-stretch lg:items-start gap-3 lg:gap-4  lg:px-0">
                <button 
                    mat-flat-button 
                    color="primary" 
                    class="rounded-full py-3 lg:py-2.5 px-8 text-base font-medium w-full lg:w-fit"
                    (click)="onFindBusinesses()">
                    Find Businesses
                </button>
                <button 
                    mat-stroked-button 
                    color="primary" 
                    class="rounded-full py-3 lg:py-2.5 px-8 text-base font-medium w-full lg:w-fit !border-primary-600"
                    (click)="onListBusiness()">
                    List A Business
                </button>
            </div>
        </div>

        <!-- Right Image - Hidden on mobile -->
        <div class="hidden lg:block lg:w-[55%] absolute inset-y-0 right-0 overflow-visible">
            <img 
                src="/assets/images/hero-women-images.png" 
                alt="Professional women" 
                class="w-full h-full object-contain object-bottom transform lg:scale-100 lg:translate-x-6"
            >
        </div>
    </div>
</section>